body {
  height: 100vh;
  background: linear-gradient(180deg, rgb(190, 13, 13), rgb(250, 1, 117));
  text-align: center;
}

#title {
  color: white;
  font-weight: bolder;
  margin-top: 15%;
  text-shadow: black 2px 1px;
  font-family: "Great Vibes", cursive;
  letter-spacing: 3px;
  font-size: 35px;
}

.valentine {
  color: rgb(234, 0, 255);
  text-shadow: black 1px 1px;
}

img {
  margin-top: 10%;
  align-self: center;
  height: 300px;
  width: 80vw;
  border-radius: 25%;
}

h1{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 15%;
}

#btnContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 15%;
  align-items: center;
}

#yesbtn {
  border-radius: 20px;
  border: black solid 2px;
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 3% 1%;
}

#nobtn {
  border-radius: 20px;
  border: black solid 2px;
  background-color: red;
  color: white;
  font-size: 13px;
  padding: 3%;
}
