body {
  height: 100vh;
  background: linear-gradient(180deg, rgb(190, 13, 13), rgb(250, 1, 117));
  text-align: center;
}

#title {
  color: white;
  font-weight: bolder;
  margin-top: 15%;
  text-shadow: black 2px 1px;
  font-family: "Great Vibes", cursive;
  letter-spacing: 3px;
  font-size: 35px;
}

.valentine {
  color: rgb(234, 0, 255);
  text-shadow: black 1px 1px; 
}

img {
  margin-top: 10%;
  align-self: center;
  height: 300px;
  width: 80vw;
  border-radius: 25%;
}

#btnContainer {
  margin-top: 20%;
  height: 100vh;
  align-items: center;
  flex: 1;
  justify-content: space-between 50px;
  background-color: white;
}

#yesbtn {
  height: 500;
  width: 500;
  border-radius: 20%;
  border: black solid 2px;
  background-color: green;
  /* padding: 10%; */
}

#nobtn {
  height: 200;
  width: 200;
  border-radius: 20%;
  border: black solid 2px;
  background-color: red;
  /* padding: 10%; */
}
